 * {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' , sans-serif;
 }

.login-1 * {
  box-sizing: border-box;
}
.login-1 {
  background: #ffffff;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.frame-1 {
  width: 699px;
  height: 1024px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.gambar {
  width: 699px;
  height: 820px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
}
.Logo {
  width: 190px;
  height: 135px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 0px;
  object-fit: cover;
  aspect-ratio: 120/135;
}

.judul {
  color: #1e3a8a;
  text-align: left;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 32px;
  font-weight: 600;
  position: absolute;
  left: 75px;
  top: 217px;
}
.subjudul {
  color: #3b82f6;
  text-align: left;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 32px;
  font-weight: 600;
  position: absolute;
  left: 208px;
  top: 253px;
}
.subtext {
  color: #6b7280;
  text-align: left;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  left: 75px;
  top: 334px;
}

.login-card {
      width: 450px;
      background: #fff;
      padding: 80px;
      border-radius: 14px;
      box-shadow: 0 10px 25px rgba(0,0,0,0.08);
      position: absolute;
       left: 900px;
       top: 157px;
    }

    .login-card h2 {
      text-align: center;
      color: #2b4eff;
      margin-bottom: 5px;
    }

    .login-card p {
      text-align: center;
      font-size: 13px;
      color: #888;
      margin-bottom: 25px;
    }

    .input-group {
      position: relative;
      margin-bottom: 15px;
    }

    .input-group img {
      position: absolute;
      top: 50%;
      left: 12px;
      transform: translateY(-50%);
      width: 18px;
      opacity: 0.6;
    }

    .input-group input {
      width: 100%;
      padding: 12px 12px 12px 40px;
      border-radius: 10px;
      border: 1px solid #ddd;
      outline: none;
      transition: 0.2s;
    }

    .input-group input:focus {
      border-color: #2b4eff;
      box-shadow: 0 0 0 2px rgba(43,78,255,0.1);
    }

    .forgot {
      text-align: right;
      font-size: 12px;
      margin-bottom: 20px;
    }

    .forgot a {
      text-decoration: none;
      color: #2b4eff;
    }

    .login-btn {
      width: 100%;
      padding: 12px;
      border: none;
      border-radius: 10px;
      background: #2b4eff;
      color: white;
      font-weight: 500;
      cursor: pointer;
    }

    .login-btn:hover {
      background: #1f3ed6;
    }

    .register {
      text-align: center;
      font-size: 13px;
      margin-top: 15px;
    }

    .register a {
      color: #2b4eff;
      text-decoration: none;
      font-weight: 500;
    }

    .error-box {
    background: #ffe5e5;
    color: #d8000c;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 14px;
    border: 1px solid #ffb3b3;
    overflow: hidden;
}

.error-box {
  transition: opacity 0.5s ease;
}

